<div class="container">
  <div class="row">
    <div class="col-xs-12 mb20">
      <%= image_tag @page.poster, class: 'img-responsive center-block poster' %>
    </div>
    <div class="col-xs-8 col-xs-offset-2 content">
      <%= raw @page.zh_content %>
    </div>
  </div>
</div>