<div class="container header">
  <div class="row">
    <div class="col-xs-12 mb20 center-block">
      <%= image_tag @page.poster, class: 'img-responsive center-block' %>
    </div>
    <% @branches.each do |branch| %>
    <div class="col-xs-3">
      <div class="branch">
        <div class="logo">
          <%= link_to image_tag(branch.logo, class: 'img-responsive'), branch %>
        </div>
        <div class="content">
          <h3><%= link_to branch.zh_short_name, branch %></h3>
          <div class="description">
            <%= branch.zh_short_description.truncate(32) %>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <% end %>
  </div>
</div>